UZ-REPOS/SPA/EDITION/SPA.SA/SPA.SA.BSP/WSDL/bs.nvg.ru.schemas.PayPerDay.152.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://bs.nvg.ru/schemas/PayPerDay/152/1" elementFormDefault="qualified" targetNamespace="http://bs.nvg.ru/schemas/PayPerDay/152/1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="ChangeCounterProfiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="changes" nillable="true" type="tns:ArrayOfTerminalDeviceCounterProfileChange" />
        <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfTerminalDeviceCounterProfileChange">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TerminalDeviceCounterProfileChange" nillable="true" type="tns:TerminalDeviceCounterProfileChange" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTerminalDeviceCounterProfileChange" nillable="true" type="tns:ArrayOfTerminalDeviceCounterProfileChange" />
  <xs:complexType name="TerminalDeviceCounterProfileChange">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServiceCounterProfileChanges" nillable="true" type="tns:ArrayOfServiceCounterProfileChange" />
      <xs:element minOccurs="0" name="TerminalDeviceId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerminalDeviceCounterProfileChange" nillable="true" type="tns:TerminalDeviceCounterProfileChange" />
  <xs:complexType name="ArrayOfServiceCounterProfileChange">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceCounterProfileChange" nillable="true" type="tns:ServiceCounterProfileChange" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceCounterProfileChange" nillable="true" type="tns:ArrayOfServiceCounterProfileChange" />
  <xs:complexType name="ServiceCounterProfileChange">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChargingDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CounterProfileId" type="xs:int" />
      <xs:element minOccurs="0" name="CounterTemplateId" type="xs:int" />
      <xs:element minOccurs="0" name="CounterValueCalculation" nillable="true" type="tns:CounterValueCalculationType" />
      <xs:element minOccurs="0" name="ServiceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeZone" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceCounterProfileChange" nillable="true" type="tns:ServiceCounterProfileChange" />
  <xs:complexType name="CounterValueCalculationType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReinitType" type="tns:ReinitType" />
      <xs:element minOccurs="0" name="SumType" type="tns:SumType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CounterValueCalculationType" nillable="true" type="tns:CounterValueCalculationType" />
  <xs:simpleType name="ReinitType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Full">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Proportional">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Proportional2">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReinitType" nillable="true" type="tns:ReinitType" />
  <xs:simpleType name="SumType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WithoutSum" />
      <xs:enumeration value="Sum" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SumType" nillable="true" type="tns:SumType" />
  <xs:element name="ChangeCounterProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeCounterProfilesResult" nillable="true" type="tns:CounterProfileChangeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CounterProfileChangeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultCode" type="xs:int" />
      <xs:element minOccurs="0" name="ResultMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerminalDeviceResults" nillable="true" type="tns:ArrayOfTerminalDeviceCounterProfileChangeResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CounterProfileChangeResult" nillable="true" type="tns:CounterProfileChangeResult" />
  <xs:complexType name="ArrayOfTerminalDeviceCounterProfileChangeResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TerminalDeviceCounterProfileChangeResult" nillable="true" type="tns:TerminalDeviceCounterProfileChangeResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTerminalDeviceCounterProfileChangeResult" nillable="true" type="tns:ArrayOfTerminalDeviceCounterProfileChangeResult" />
  <xs:complexType name="TerminalDeviceCounterProfileChangeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultCode" type="xs:int" />
      <xs:element minOccurs="0" name="ResultMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerminalDeviceId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerminalDeviceCounterProfileChangeResult" nillable="true" type="tns:TerminalDeviceCounterProfileChangeResult" />
  <xs:complexType name="ChangeProfileFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangeProfileFault" nillable="true" type="tns:ChangeProfileFault" />
</xs:schema>